
@import url('/arcgis_js_api/library/4.11/esri/css/main.css');//厦门
body{
  //user-select: none;
  overflow: hidden;


}
html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  .app_side {
    height: 100%;
    background: #fff;
  }
  .app_map {
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .loading {
    .layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      opacity: 0.2;
      z-index: 100000;
    }
    .load {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100000;
      transform: translate(-50%, -50%);
    }

  }

}
.sg-spin-fullscreen {
    background: #ccc !important;
}
//统计区域样式
.iq-content {
  .iq-title {
    margin: 0 0 12px 20px;
  }
  .iq-setconf {
    .sg-form-item:first-child {
      margin-bottom: 10px;
    }
  }
  .iq-select-layer {
    .sg-form-item-content {
      margin: 0 !important;
    }
  }
  .iq-wrap {
    background-color: #f4f5f6;
    padding: 15px 10px;
    margin: 0 10px 18px 10px;
    .sg-form-item {
      margin-bottom: 0;
    }
  }
  .iq-button {
    text-align: center;
    .sg-btn {
      margin: 5px;
    }
  }

}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 7px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  background-color: #e1e3e4;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  -webkit-box-shadow: #bcbcbc;
//   background: #a9a9aa;
//   -webkit-box-shadow: #a9a9aa;

}
::-webkit-scrollbar-thumb:window-inactive {
  background: #8d8d8e;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#a9a9aa;
//   background-color:#bcbcbc;
}
ul{
  padding:0
}
ul,li{
    list-style: none;
}

//覆盖分屏弹出样式
.esri-view-width-xsmall .esri-ui-top-right .esri-expand--auto .esri-expand__container--expanded, .esri-view-width-xsmall .esri-ui-bottom-right .esri-expand--auto .esri-expand__container--expanded{
    background: transparent !important;
}
.esri-view-width-xsmall .esri-expand--auto .esri-expand__mask--expanded{
    display: none !important;
}
//覆盖右侧工具栏样式
.esri-ui-top-right .esri-component, .esri-ui-top-left .esri-component {
  margin-bottom: 4px;
}
//绘制小部件
.esri-sketch{
  .esri-sketch__panel{
    .esri-sketch__section{
      border-right: 0px solid #e0e0e0;
      .esri-icon-pan{
        display:none;
      }
      .esri-icon-cursor{
        display:none;
      }
      .esri-icon-undo{
        display:none;
      }
      .esri-icon-redo{
        display:none;
      }
    }
  }
}
#screen1 .esri-attribution__powered-by{ display:none;}
#screen2 .esri-attribution__powered-by{ display:none;}
#screen3 .esri-attribution__powered-by{ display:none;}
#screen4 .esri-attribution__powered-by{ display:none;}
