@mixin background($img) {
    background-image: url('../images/' +$img);
    background-position: center;
    background-repeat: no-repeat;
  }
  $arr: (
    (normal:'module.png', on:'module-active.png', class: item1),
    (normal:'search.png', on:'search-active.png', class: item2),
    (normal:'search2.png', on:'search2-active.png', class: item3),
    (normal:'file.png', on:'file-active.png', class: item4),
    (normal:'map.png', on:'map-active.png', class: item5),
    (normal:'map.png', on:'map-active.png', class: item6),
    (normal:'map.png', on:'map-active.png', class: item7)
  );

.sidebar {

    /*box-sizing: border-box;*/
    /*top: 0px;*/
    height: 100%;
    z-index: 200;
    left: 0;
    position: absolute;
    background: transparent;
    /*background: #fff;*/
    // transition: width .5s;
    display: flex;
    flex-direction: row;

    box-sizing: border-box;


    .logo {
      height: 59px;
      background: #3b86e0;
      @include background('LOGO.png');
      background-position: 15px center;
    }

    ul, li {
      font-size: 12px;
    }

    li {
      position: relative;
      cursor: pointer;

      p {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 5px;
        color: #818181;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    

    li:hover p {
      color: #3385ff;
    }

    .navBox {
      //   flex-shrink: 0;
      //   flex-grow: 1;
      width: 92px;
      height: auto;
      /*display: flex;*/
      /*flex-direction: row;*/
      position: fixed;
      top:28px;
      .toolIcon {
        color:#fff;
        z-index: 2;
        font-size:14px;
        border-radius: 3px;
        width: 38px;
        height: 38px;
        background-color: #3385ff;
        position: absolute;
        text-align: center;
        left: 32px;
        li{
          text-decoration:none !important;
          display: block;
          width: 100%;
          height: 100%;
          a{
            line-height: 38px;
          }
        }
        li:hover{
            cursor: pointer;
            background-color:#5b99f7;
            border-radius: 3px;
          }
        
      }
      
      ul {
        position: absolute;
        left: 20px;
        top: 22px;
        height: 100%;
        width: 60px;
        padding: 0;
        .active{
            background-color: #3385ff;
            border-left: #3385ff;
            border-right: #3385ff;
            border-bottom: #3385ff !important;
            p {
                color: #fff;
              }
        }
        .activeIndex0.active{
            border-top: #3385ff 1px solid!important;
        }
        .activeIndex0.active:before{ /* the pointer tip */
            content:'';
            position:absolute;
            widows: 1px;
            height:1px;
            border:5px solid transparent;
            border-bottom-color:#3385ff !important;
            left:50%;
            top:-11px;
            margin-left:-5px;
        }
        li:first-child{
            border-radius:3px 3px 0 0;
            margin-top:25px;
            position:relative;
            border-top: #ddd 1px solid;
        }
        li:last-child{
            border-bottom-left-radius:3px;
            border-bottom-right-radius:3px;
            border-bottom: #ddd 1px solid;
        }
        li:first-child:before{ /* the pointer tip */
            content:'';
            position:absolute;
            widows: 1px;
            height:1px;
            border:5px solid transparent;
            border-bottom-color:#ddd;
            left:50%;
            top:-11px;
            margin-left:-5px;
        }
        li {
          width: 60px;
          height: 65px;
          position: relative;
          background-color: #fff;
          border-left: #ddd 1px solid;
          border-right: #ddd 1px solid;
          p {
            
            bottom: 0;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
          }
        }
      }

      .navMore {
        flex-shrink: 0;
        flex-grow: 1;
        width: 56px;
        padding: 0 17px;
        height: inherit;
        background: #f5f6f8;
        color: #818181;

        p {
          margin: 30px 0;
          cursor: pointer;
        }

        p:hover {
          color: #3385ff;
        }

        .searchActive {
          color: #3385ff;
        }

      }
    }

  }
 